<section class="users-new">
        
  <div class="container">
    <h1>Signup!</h1>
    <div class="row">
      <%= form_for :user, url: '/users' do |f| %>
      <dt>First Name: <%= f.text_field :first_name %></dt>
      <dd>Last Name: <%= f.text_field :last_name %></dd>
      <dt>Email: <%= f.text_field :email %></dt>
      <dd>Password: <%= f.password_field :password %></dd>
      <dt>Password Confirmation: <%= f.password_field :password_digest %></dt>
      <dd><%= f.submit "Submit" %></dd>
      <% end %>
    </div>
  </div>
</section>